/* Contents:
    1. Sections
    2. Text Styles
    3. Colors
    4. Components
    5. Media queries (larger screens)

/* 1. Sections */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    text-align: center;
    margin: 0;
    padding-top: 2%;
}

header {
    padding-top: 1%;
    padding-bottom: 2%;
    position: sticky;
}

section {
    padding: 5% 0;
}

.swatch-box {
    display: grid;
    grid-template: repeat(2, minmax(100px, 200px)) / repeat(2, 1fr);
    justify-content: center;
    grid-gap: 15px;
    align-items: stretch;
    margin: 3% 0;
}

.swatch {
    display: inline-grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr;
    color: #FFF;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    padding: 5%;
  
}

.font-box {
    display: block;
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.btn-wrapper {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
}

.btn-container {
    margin: 2% 0;
    padding: 2% 0;
    line-height: 1.5rem;
}

.btn-styles {
    margin: 2% 0;
    padding: 2% 0;
    line-height: 1.5rem;
}


/* 2. Text Styles */

h1, .h1-example {
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 15px;
}


h2, .h2-example {
    font-family: 'Playfair Display', Times, serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

.h2-example {
    margin-bottom: 15px;
}



h3, .h3-example {
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

p, .p-example {
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.font-header {
    text-decoration: underline;
    font-size: 1.25rem;
    margin: 1% 0 2% 0;
}

.font-spec {
    line-height: 1.5rem;
    padding: 2% 0;
    margin: 2% 0;
}

.font-spec ul {
    list-style-type: disc;
}


.sedgwick {
    font-family: 'Sedgwick Ave Display', cursive;
}

.playfair {
    font-family: 'Playfair Display', Times, serif;
}

.raleway {
    font-family: 'Raleway', Tahoma, sans-serif;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

/* 3. Colors */

.sinopia {
    background-color: hsl(11, 100%, 42%);
}

.tangerine {
    background-color: hsl(25, 100%, 67%);
}

.pink {
    background-color: hsl(324, 57%, 61%);
}

.flirt {
    background-color: hsl(325, 100%, 33%);
}

.bg-tangerine {
    background-color: hsl(25, 100%, 95%);
}

.bg-pink {
    background-color: hsl(324, 57%, 89%);
}

.bg-sinopia {
    background-color: hsl(11, 100%, 89%);
}

.bg-flirt {
    background-color: hsl(325, 100%, 96%);
}


/* 4. Components */

.btn {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Raleway', Tahoma, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin: 25px;
    padding: 5px 20px;
    border-radius: 999px;
    cursor: pointer;
}

.btn-primary {
    background-color: hsl(324, 57%, 61%);
    border: 2px solid hsl(324, 57%, 61%);
}

.btn-primary:hover {
    background-color: hsl(324, 57%, 51%);
}

.btn-secondary {
    background-color: hsl(25, 100%, 67%); 
    border: 2px solid hsl(25, 100%, 67%);
}

.btn-secondary:hover {
    background-color: hsl(25, 100%, 57%);
}

.btn-primary:active {
    border: 2px solid hsl(325, 100%, 80%)
}

.btn-secondary:active {
    border: 2px solid hsl(25, 100%, 80%)
}



@media only screen and (min-width: 992px) {

.swatch-box {
    grid-template: minmax(250px, 300px) / repeat(4, 1fr);
}

.btn-wrapper {
    grid-template: 1fr 2fr;
}

.btn-container {
    display: inline-block;
    margin: 1% 0;
    padding: 1% 0;
}

}